<footer class="footer">
    <div class="container pd-15">
        <div class="footer-grid">
            <div class="footer-grid-item">
                <div class="footer-logo">
                    <a href="#"><img src="./images/logo-white.png" alt=""></a>
                </div>
                <div class="footer-social social has-border icons-gray-white">
                    <a href="#" class="icon-tl has-icon" target="_blank"></a>
                    <a href="#" class="icon-fb has-icon" target="_blank"></a>
                    <a href="#" class="icon-in has-icon" target="_blank"></a>
                    <a href="#" class="icon-yt has-icon" target="_blank"></a>
                    <a href="#" class="icon-li has-icon" target="_blank"></a>
                    <a href="#" class="icon-tw has-icon" target="_blank"></a>
                    <a href="#" class="icon-vk has-icon" target="_blank"></a>
                </div>
                <ul class="footer-info">
                    <li>Харьков, Московский проспект, 122</li>
                    <li>+38 (057) 780 - 40 - 63</li>
                    <li>Пн-Пт с 09:00 до 18:00</li>
                </ul>
            </div>
            <div class="footer-grid-item">        	  
			    <nav class="footer-nav mobile-accordion accordion active">
			    	 <div class="footer-nav-header accordion_tab">Компания <span class="footer-nav-indicate"></span></div>
			    	 <ul class="footer-nav-list accordion_content" style="display: block;">
			    	 	<li><a href="#">О компании</a></li>
			    	 	<li><a href="#">История</a></li>
			    	 	<li><a href="#">Карьера</a></li>
			    	 	<li><a href="#">Партнеры</a></li>
			    	 </ul>
			    </nav>

            </div>
            <div class="footer-grid-item">        	  
			    <nav class="footer-nav mobile-accordion accordion">
			    	<div class="footer-nav-header accordion_tab">Направления <span class="footer-nav-indicate"></span></div> 
			    	  <ul class="footer-nav-list accordion_content">
			    	 	<li><a href="#">Дистрибуция</a></li>
			    	 	<li><a href="#">Системная интеграция</a></li>
			    	 	<li><a href="#">Сервисный центр</a></li>
			    	 	<li><a href="#">Учебный центр</a></li>
			    	 </ul>
			    </nav>
            </div>
             <div class="footer-grid-item last">        	  
			    <nav class="footer-nav mobile-accordion accordion">
			    	 <div class="footer-nav-header accordion_tab">Услуги <span class="footer-nav-indicate"></span></div>
			    	  <ul class="footer-nav-list accordion_content">
			    	 	<li><a href="#">Оплата</a></li>
			    	 	<li><a href="#">Доставка</a></li>
			    	 	<li><a href="#">Гарантия</a></li> 
			    	 </ul>
			    </nav>
            </div>
        </div>
    </div>
    <div class="footer-bottom-info">
        <div class="container">
        	<div class="copy cl-gray">© 2020, ООО "Ланторг" Все права защищены</div>

        <div class="polytics"><a href="#" class="cl-gray">Политика в области персональных данных</a></div>
        </div>
    </div>
</footer>



<div class="shadow"></div>