<div class="header show-on-desktop">
    <div class="container">
    	<div class="header-top">
    		 
    		 <div class="header-top-navi">
    		 	   <ul>
                            <li><a href="about.html">О нас</a></li>
                            <li><a href="partners.html">Партнерам</a></li>
                            <li><a href="#">База знаний</a></li>
                            <li><a href="#">Сервис</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
    		 </div>

    		  <div class="lang">
                <ul>
                    <li><span>RU</span></li>
                    <li><a href="#">UA</a></li>
                </ul>
            </div>

    	</div>
        <div class="header-flex">
            <a href="/" class="header_logo show-on-desktop">
                <img src="./images/logo.png" alt="">
            </a>
            
           
            <div class="header-catalog">
            	<div class="mm-toggle header-catalog_toggle dropdown j-dropdown" data-id="catalog-menu">
                <button class="mm-toggle_btn --j-dropdown-open" data-toggle="catalog-menu">
                    <div class="mm-toggle_inner">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <i>КАТАЛОГ</i>
                </button>

                
                <div class="header-catalog_box dropdown-box">
                	 <div class="hc_close">
                	 	<i class="icon-close"></i>
                	 </div>
                	 <div class="hc">  
                	 	<div class="hc_header"><b>Каталог</b></div>
                	 <ul class="hc-menu">
                	 	<li class="hc-menu_item parent"><a href="#">Беспроводное оборудование</a>
                	 		<span class="hc-submenu_toggle"><i class="icon-arrow-right va-middle"></i></span>
                            <ul class="hc-submenu">
                            		<div class="hc_header arrow-left">
                            				<i class="icon-arrow-left va-middle"></i>
                            			<b>Беспроводное оборудование</b>
                            		</div>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Антенны Wi-Fi</a></li>
                            	<li><a href="#">Оборудование LTE/3G/4G</a></li>
                            	<li><a href="#">Адаптеры, усилители сигнала, miniPCI</a></li>
                            	<li><a href="#">Аксессуары</a></li>
                            </ul>
                	 	</li>
                	 	<li class="hc-menu_item parent"><a href="#">Активное сетевое оборудование</a>
                           <span class="hc-submenu_toggle"><i class="icon-arrow-right va-middle"></i></span>
                            <ul class="hc-submenu">
                            	<div class="hc_header arrow-left">
                            		 
                            				<i class="icon-arrow-left va-middle"></i>
                            			<b>Активное сетевое оборудование</b>
                            		</div>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            </ul>
                	 	</li>
                	 	<li class="hc-menu_item parent"><a href="#">Оптоволоконное оборудование</a>
                            <span class="hc-submenu_toggle"><i class="icon-arrow-right va-middle"></i></span>
                            <ul class="hc-submenu">
                            	<div class="hc_header arrow-left">
                            		 
                            				<i class="icon-arrow-left va-middle"></i>
                            			<b>Оптоволоконное оборудование</b>
                            		</div>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            	<li><a href="#">Точки доступа Wi-Fi</a></li>
                            </ul>
                	 	</li>
                	 </ul>
                	 </div>

                </div>
               </div>
            </div>

            <div class="header-search">
                <form action="#">
                    <div class="header-search_box">
                        <input type="text" class="header-search_field">
                        <button type="submit" class="header-search_btn">
                            <i class="icon-search-btn"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="header-fixed-item">
                <div class="header-navi dropdown j-dropdown" data-id="hp-menu">
                    <button class="header-navi_toggle --j-dropdown-open" data-toggle="hp-menu"><i class="icon-menu va-middle"></i></button>
                    <div class="dropdown-box">
                        <ul class="dropdown-list">
                            <li><a href="about.html">О нас</a></li>
                            <li><a href="partners.html">Партнерам</a></li>
                            <li><a href="#">База знаний</a></li>
                            <li><a href="#">Сервис</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-phones dropdown j-dropdown" data-id="hp-phones">
                    <button class="header-navi_toggle --j-dropdown-open" data-toggle="hp-phones"><i class="icon-phone va-middle"></i></button>
                    <div class="hp-item --j-dropdown-open" data-toggle="hp-phones"><span>+38 (057) 780 - 40 - 63</span> <i class="icon-arrow-bottom"></i></div>
                    <div class="hp-dropdown dropdown-box">
                        <ul>
                            <li><a href="#">+38 (057) 780 - 40 - 63</a></li>
                            <li><a href="#">+38 (057) 780 - 40 - 63</a></li>
                            <li><a href="#">+38 (057) 780 - 40 - 63</a></li>
                            <li><a href="#">+38 (057) 780 - 40 - 63</a></li>
                            <li>
                                <div class="hp-icons">
                                    <a href="#">
                                        <i class="icon-telegram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-viber-gray"></i>
                                    </a>
                                    <a href="#">
                                        <i class="icon-skype-gray"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-profile dropdown j-dropdown" data-id="hp-user-menu">
                    <button class="header-navi_btn --j-dropdown-open" data-toggle="hp-user-menu"><i class="icon-user va-middle"></i></button>
                    <div class="dropdown-box">
                        <ul class="dropdown-list">
                            <li><a href="#" class="j-modal-open" data-micromodal-trigger="modal-login">Вход</a></li>
                            <li><a href="#" class="j-modal-open" data-micromodal-trigger="modal-signup">Регистрация</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="header-shopping-cart">
                    <a href="/cart.html" class="header-navi_btn shopping-cart">
                    	<span class="shopping-cart-counter">0</span>
                    	<i class="icon-shopping-cart va-middle"></i>
                    </a>
                   
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- header mobile -->
<div class="header-mobile hide-on-desktop">
    <div class="header-mobile_inner">
        <a href="#" class="header-mobile_logo">
            <img src="./images/svg/logo.svg" alt="">
        </a>
        <div class="mm-toggle j-mobile-toggle">
            <button class=" mm-toggle_btn" data-elem="#mm-menu">
                <div class="mm-toggle_inner">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </div>

 <div class="header-top-navi j-mm-navi">
    		 	   <ul>
                            <li><a href="about.html">О нас</a></li>
                            <li><a href="partners.html">Партнерам</a></li>
                            <li><a href="#">База знаний</a></li>
                            <li><a href="#">Сервис</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
    		 </div>



</div>
<!-- .end header mobile -->