<!-- modal send pricelist -->
<div class="modal modal-thin micromodal-slide" id="modal-price" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-price-title">
           <form action="#">
                <header class="modal__header">
                <h2 class="modal__title" id="modal-price-title">
                    Запросить прайс
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-price-content">
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Имя">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Номер телефона">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="E-mail">
                </div>
                <div class="modal__field form-field">
                    <textarea name="tarea" id="modal-tarea" cols="30" rows="10" placeholder="На какую продукцию нужен прайс" class="text-area"></textarea>
                </div>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Запросить</button>
            </footer>
           </form>
        </div>
    </div>
</div>
<!--.end modal send pricelist -->
<!-- modal send newsletter -->
<div class="modal modal-thin micromodal-slide" id="modal-newsletter" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-newsletter-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-newsletter-title">
                    Подписаться на новости
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-newsletter-content">
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Имя">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="E-mail">
                </div>

                <div class="modal__info">
                   <p>Не чаще 1 письма в неделю. Только полезная информация. Убедитесь сами - 
                    <a href="#" target="_blank">посмотрите архив рассылок</a></p>
                </div>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Подписаться</button>
            </footer>
        </div>
    </div>
</div>
<!--.end modal send newsletter -->


<!-- modal ask question -->
<div class="modal modal-thin micromodal-slide" id="modal-ask" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-ask-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-ask-title">
                    Задать вопрос
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-ask-content">
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Имя">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Номер телефона">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="E-mail">
                </div>
                <div class="modal__field form-field">
                    <textarea class="text-area" name="tarea" id="tarea" cols="30" rows="10" placeholder="Ваш вопрос"></textarea>
                </div>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Отправить</button>
            </footer>
        </div>
    </div>
</div>
<!--.end modal ask -->



<!-- modal contact -->
<div class="modal modal-thin micromodal-slide" id="modal-contact" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-contact-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-contact-title">
                    Связаться с нами
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-contact-content">
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="ФИО, организация">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Номер телефона">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="E-mail">
                </div>
                <div class="modal__field form-field">
                    <textarea class="text-area" name="tarea" id="tarea" cols="30" rows="10" placeholder="Ваш вопрос"></textarea>
                </div>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Отправить</button>
            </footer>
        </div>
    </div>
</div>
<!--.end modal contact -->



<!-- modal ask headmastern -->
<div class="modal modal-thin micromodal-slide" id="modal-headmaster" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-headmaster-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-headmaster-title">
                    Написать директору
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-headmaster-content">
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Имя">
                </div>
                 <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Компания">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Номер телефона">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="E-mail">
                </div>
                <div class="modal__field form-field">
                    <textarea class="text-area" name="tarea" id="tarea" cols="30" rows="10" placeholder="Сообщение"></textarea>
                </div>

                  <div class="modal__info">
                   <p>Какой то поясняющий текст</p>
                </div>

            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Отправить</button>
            </footer>
        </div>
    </div>
</div>
<!--.end modal send headmaster -->



<div class="modal modal-thin micromodal-slide" id="modal-login" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-login-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-login-title">
                    Вход в кабинет
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-login-content">
               
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="E-mail">
                </div>
                 <div class="modal__field form-field">
                    <input class="text-input" type="password" placeholder="Пароль">
                </div>
                <div class="modal__field form-field">
                    <div class="checkbox">
                        <input type="checkbox" id="ch-remember">
                        <label for="ch-remember"><span>Запомнить меня</span></label>
                    </div>
                </div>
                <div class="modal__field form-field">
                     <a href="#" class="modal__link">Забыли пароль?</a>
                </div>

            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Войти</button>
            </footer>
        </div>
    </div>
</div>
<!--.end modal login form -->

<div class="modal modal-thin micromodal-slide" id="modal-signup" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true">
            <header class="modal__header">
                <h2 class="modal__title" >
                    Зарегистрируйтесь
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content">
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Ваше имя">
                </div>
                 <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Ваш телефон">
                </div>
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="E-mail">
                </div>
                 <div class="modal__field form-field">
                    <input class="text-input" type="password" placeholder="Пароль">
                </div>
               

            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Войти</button>
            </footer>
        </div>
    </div>
</div>
<!--.end modal login form -->


<div class="modal modal-thin micromodal-slide" id="modal-vacation" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true">
            <header class="modal__header">
                <h2 class="modal__title" >
                   Отклик на вакансию
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content">
                <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Ваше имя">
                </div>
                 <div class="modal__field form-field">
                    <input class="text-input" type="text" placeholder="Ваш телефон">
                </div>
                  <div class="modal__field form-field">
                    <textarea class="text-area" name="tarea" id="tarea" cols="30" rows="10" placeholder="Сообщение"></textarea>
                </div>

                <div class="modal__field form-field">
                    <div class="inputfile">
                        <input type="file" name="file-r[]" id="file-r" class="inputfile-field"
                       data-multiple-caption="{count} files selected" multiple/>
                <label for="file-r">
                    <i class="icon-attach-file va-middle"></i>
                    <span>Прикрепить резюме</span></label>
                    </div>
                </div>
               

            </main>
            <footer class="modal__footer">
                <button class="modal__btn btn btn-blue">Войти</button>
            </footer>
        </div>
    </div>
</div>
<!--.end modal login form -->



<!-- modal howto get lantorg -->
<div class="modal modal-large micromodal-slide" id="modal-findus" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true">
            <header class="modal__header">
                <h2 class="modal__title" >
                   Как нас найти
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content content">
                 
                 <p><strong>Если вы едете на метро: </strong></p>
                 <ul>
<li>со стороны центра - станция метро "Завод им. Малышева", выход на эскалатор со стороны головы поезда.</li>
<li>со стороны ХТЗ - станция метро "Завод им. Малышева", выход на эскалатор со стороны хвоста поезда.</li>
</ul>

                 <p>От дверей станции по подземному переходу налево, выход наверх направо. Идете вдоль супермаркета "РОСТ" (он будет слева) до первого поворота налево, далее по улице Соича до здания с желтыми колоннами на фасаде.</p>
               
  

 <div class="plyr__video-embed video" id="player">
  <iframe
    src="https://www.youtube.com/embed/wju1ISxfCRY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
    allowfullscreen
    allowtransparency
    allow="autoplay"
  ></iframe>
</div>

<p><strong>Если вы едете на машине:</strong></p>
<p>Можно заехать как со стороны Московского проспекта, так и со стороны ул. Плехановоской, ехать по ул. Соича:</p>

<img src="./images/contacts-map.jpg" alt="">

<p><strong>Фото входа в здание:</strong></p>
<img src="./images/contacts-entry.jpg" alt="">

<p><strong>Как пройти к офису внутри здания:</strong></p>
<img src="./images/contacts-plan.jpg" alt="">


            </main>
            <footer class="modal__footer"></footer>
        </div>
    </div>
</div>
<!--.end modal howto get lantorg-->