
 <section class="mfb">
            <div class="mfb-box container-mfw">
                <div class="mfb-item j-modal-open" data-micromodal-trigger="modal-price">
                    <div class="mfb-item_inner">
                        <i class="icon-arrow-topr"></i>
                        <div class="mfb-item_icon"><i class="icon-price mfb-icon"></i></div>
                        <div class="mfb-item_title">Запросить прайс</div>
                    </div>
                </div>
                <div class="mfb-item j-modal-open" data-micromodal-trigger="modal-newsletter">
                    <div class="mfb-item_inner">
                        <i class="icon-arrow-topr"></i>
                        <div class="mfb-item_icon"><i class="icon-newsletter mfb-icon"></i></div>
                        <div class="mfb-item_title">Подписаться на новости</div>
                    </div>
                </div>
                <div class="mfb-item j-modal-open" data-micromodal-trigger="modal-ask">
                    <div class="mfb-item_inner">
                        <i class="icon-arrow-topr"></i>
                        <div class="mfb-item_icon"><i class="icon-ask mfb-icon"></i></div>
                        <div class="mfb-item_title">Задать вопрос</div>
                    </div>
                </div>
                <div class="mfb-item j-modal-open" data-micromodal-trigger="modal-headmaster">
                    <div class="mfb-item_inner">
                        <i class="icon-arrow-topr"></i>
                        <div class="mfb-item_icon"><i class="icon-email mfb-icon"></i></div>
                        <div class="mfb-item_title">Написать директору</div>
                    </div>
                </div>
            </div>
        </section>

<!-- <section class="newsletter">
    	<div class="container">
    		 <div class="nw-grid">
               
                <div class="nw-letter cl-white">
                	 <div class="nw-header">Подписаться на новости</div>

                	 <div class="nw-letter-box">
                	 	 <form action="#" class="form form-flex">
                	 	 	<div class="form-field">
                	 	 			 <div class="nw-letter_info">
                	 	 	Не чаще 1 письма в неделю. Только полезная информация. Убедитесь сами – посмотрите наш архив рассылок.
                	 	 </div>
                	 	 	</div>
            	  	  
            	  	   <div class="form-field tp-white">
            	  	  	 <input class="text-input" type="text" placeholder="E-mail">
            	  	  </div>
            	  	  <div class="form-field">
            	  	  	 <button type="submit" class="btn btn-white">Подписаться</button>
            	  	  </div>
            	  </form>

                	 </div>

                </div>

    		 	 <div class="mfb-item j-modal-open" data-micromodal-trigger="modal-price">
                <div class="mfb-item_inner">
                	<i class="icon-arrow-topr"></i>
                    <div class="mfb-item_icon"><i class="icon-price mfb-icon"></i></div>
                    <div class="mfb-item_title">Запросить прайс</div>
                </div>
            </div>
    		 </div>
    	</div>
    </section> -->