 <section class="section prems">
        <div class="container"> 
            <div class="section-header">
                <div class="h2">Преимущества сотрудничества с нами</div>
            </div>
            <div class="prems-container j-pp-slider swiper-container">
                <div class="prems-slider swiper-wrapper">
                    <div class="prems-slide swiper-slide">
                    	   <div class="prems-slide_counter">01</div>
                        <div class="prems-slide_inner">
                         
                            <i class="prems-slide_pic icon-8"></i>
                            <div class="prems-slide_title">
                                8 лет опыта в отрасли
                            </div>
                            <div class="prems-slide_descr">
                                Знаем все потребности наших клиентов, поможем подобрать оптимальное оборудование для разного типа задач.
                            </div>
                        </div>
                    </div>
                    <div class="prems-slide swiper-slide">
                    	<div class="prems-slide_counter">02</div>
                        <div class="prems-slide_inner">
                            
                            <i class="prems-slide_pic icon-profile"></i>
                            <div class="prems-slide_title">
                                Профильность
                            </div>
                            <div class="prems-slide_descr">
                                Мы занимаемся ТОЛЬКО сетевым оборудованием. Знаем все нюансы, можем дать дельную техническую консультацию
                            </div>
                        </div>
                    </div>
                    <div class="prems-slide swiper-slide">
                    	<div class="prems-slide_counter">03</div>
                        <div class="prems-slide_inner">
                            
                            <i class="prems-slide_pic icon-complex"> </i>
                            <div class="prems-slide_title">
                                Решение задач клиента в комплексе
                            </div>
                            <div class="prems-slide_descr">
                                Не просто продаем товар, а помогаем решить проблему в комплексе: рассчитать проект, спланировать схему подключения.
                            </div>
                        </div>
                    </div>
                    <div class="prems-slide swiper-slide">
                    	 <div class="prems-slide_counter">04</div>
                        <div class="prems-slide_inner">
                           
                            <i class="prems-slide_pic icon-loyalty"></i>
                            <div class="prems-slide_title">
                                Лояльность
                            </div>
                            <div class="prems-slide_descr">
                                Индивидуальный подход к каждому клиенту, минимум бюрократии в сотрудничестве.
                            </div>
                        </div>
                    </div>
                    <div class="prems-slide swiper-slide">
                    	 <div class="prems-slide_counter">05</div>
                        <div class="prems-slide_inner">
                           
                            <i class="prems-slide_pic icon-dealers"></i>
                            <div class="prems-slide_title">
                                Помощь дилерам
                            </div>
                            <div class="prems-slide_descr">
                                Контентная поддержка, контроль РРЦ.
                            </div>
                        </div>
                    </div>
                    <div class="prems-slide swiper-slide">

                            <div class="prems-slide_counter">06</div>
                        <div class="prems-slide_inner">
                            <i class="prems-slide_pic icon-service"></i>
                            <div class="prems-slide_title">
                                Гарантийное обслуживание
                            </div>
                            <div class="prems-slide_descr">
                                От производителя, и дополнительно - наша гарантия
                            </div>
                        </div>
                    </div>
                    <div class="prems-slide swiper-slide">
                    	     <div class="prems-slide_counter">07</div>
                        <div class="prems-slide_inner">
                       
                            <i class="prems-slide_pic icon-safety">
                            </i>
                            <div class="prems-slide_title">
                                Надежность
                            </div>
                            <div class="prems-slide_descr">
                                Соблюдаем сроки и объемы поставок.
                            </div>
                        </div>
                    </div>
                    <div class="prems-slide swiper-slide">
                    	<div class="prems-slide_counter">08</div>
                        <div class="prems-slide_inner">
                            
                            <i class="prems-slide_pic icon-corp"> </i>
                            <div class="prems-slide_title">
                                Корпоративный уровень сотрудничества
                            </div>
                            <div class="prems-slide_descr">
                                Документы, оплата по безналу с НДС, закупки через тендер.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prems-pagination swiper-pagination"></div>
            </div>
        </div>
    </section>